body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
header,footer{
    background-color: aqua;
}
.site-title {
    color: brown;
}
#my-image{
    box-shadow: 0 0 2px 1px black;
}
.hobby-list {
    list-style-type: square;
}